<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>QRCODE</title>

<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/js/grid.js"></script>
<script type="text/javascript" src="/js/version.js"></script>
<script type="text/javascript" src="/js/detector.js"></script>
<script type="text/javascript" src="/js/formatinf.js"></script>
<script type="text/javascript" src="/js/errorlevel.js"></script>
<script type="text/javascript" src="/js/bitmat.js"></script>
<script type="text/javascript" src="/js/datablock.js"></script>
<script type="text/javascript" src="/js/bmparser.js"></script>
<script type="text/javascript" src="/js/datamask.js"></script>
<script type="text/javascript" src="/js/rsdecoder.js"></script>
<script type="text/javascript" src="/js/gf256poly.js"></script>
<script type="text/javascript" src="/js/gf256.js"></script>
<script type="text/javascript" src="/js/decoder.js"></script>
<script type="text/javascript" src="/js/qrcode.js"></script>
<script type="text/javascript" src="/js/findpat.js"></script>
<script type="text/javascript" src="/js/alignpat.js"></script>
<script type="text/javascript" src="/js/databr.js"></script>

<script type="text/javascript">
  function getBase64(file, closure) {
     var reader = new FileReader();
     reader.readAsDataURL(file);
     reader.onload = function () {
      console.log(reader.result);
      if(typeof closure === "function") {
        closure(reader.result, file.type);
      }
     };
     reader.onerror = function (error) {
       console.log('Error: ', error);
     };
  }

  function gray(imgObj, type) {
      var canvas = document.createElement('canvas');
      var canvasContext = canvas.getContext('2d');
       
      var imgW = imgObj.width;
      var imgH = imgObj.height;
      canvas.width = imgW;
      canvas.height = imgH;
       
      canvasContext.drawImage(imgObj, 0, 0);
      var imgPixels = canvasContext.getImageData(0, 0, imgW, imgH);
       
      for(var y = 0; y < imgPixels.height; y++){
          for(var x = 0; x < imgPixels.width; x++){
              var i = (y * 4) * imgPixels.width + x * 4;
              var avg = (imgPixels.data[i] + imgPixels.data[i + 1] + imgPixels.data[i + 2]) / 3;
              imgPixels.data[i] = avg; 
              imgPixels.data[i + 1] = avg; 
              imgPixels.data[i + 2] = avg;
          }
      }
      canvasContext.putImageData(imgPixels, 0, 0, 0, 0, imgPixels.width, imgPixels.height);
      return (type) ? canvas.toDataURL(type) : canvas.toDataURL();
  }

  $(function () {

    qrcode.callback = function (data) {
      $('#show').val(data);
    };

    $('#qrcode').on('change', function () {
      if(this.files && this.files.length > 0) {
        if($('#scan').data('disable-with')) {
          $('#show').val($('#scan').data('disable-with'));
        }
        getBase64(this.files[0], function (result, type) {
          var img = new Image();
          img.onload = function() {
            var base64_data_gray = gray(img, type);
            qrcode.decode(base64_data_gray);
            var tmp = new Image();
            tmp.src = base64_data_gray;
            $('body').append(tmp);
          }
          img.src = result;
        });
      }
    });

    $('#scan').on('click', function () {
      $('#qrcode').trigger('click');
    });

  })
</script>

<style type="text/css">
  body {
    padding: 50px;
  }
</style>

</head>

<body>
  <div class="text-center">
    <input type="file" name="qrcode" id="qrcode" class="hide">
    <button type="button" class="btn btn-primary btn-lg btn-block" id="scan" data-disable-with="scanning..." style="height: 100px;">Scan</button>
    <hr>
    <form>
      <div class="form-group">
        <input type="email" class="form-control" id="show" placeholder="請點擊Scan或手動輸入序號">
      </div>
    </form>
  </div>
</body>

</html>