<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>QRCODE</title>

<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/js/grid.js"></script>
<script type="text/javascript" src="/js/version.js"></script>
<script type="text/javascript" src="/js/detector.js"></script>
<script type="text/javascript" src="/js/formatinf.js"></script>
<script type="text/javascript" src="/js/errorlevel.js"></script>
<script type="text/javascript" src="/js/bitmat.js"></script>
<script type="text/javascript" src="/js/datablock.js"></script>
<script type="text/javascript" src="/js/bmparser.js"></script>
<script type="text/javascript" src="/js/datamask.js"></script>
<script type="text/javascript" src="/js/rsdecoder.js"></script>
<script type="text/javascript" src="/js/gf256poly.js"></script>
<script type="text/javascript" src="/js/gf256.js"></script>
<script type="text/javascript" src="/js/decoder.js"></script>
<script type="text/javascript" src="/js/qrcode.js"></script>
<script type="text/javascript" src="/js/findpat.js"></script>
<script type="text/javascript" src="/js/alignpat.js"></script>
<script type="text/javascript" src="/js/databr.js"></script>

<script type="text/javascript">
  function getBase64(file, closure) {
     var reader = new FileReader();
     reader.readAsDataURL(file);
     reader.onload = function () {
      console.log(reader.result);
      if(typeof closure === "function") {
        closure(reader.result);
      }
     };
     reader.onerror = function (error) {
       console.log('Error: ', error);
     };
  }

  $(function () {

    qrcode.callback = function (data) {
      console.log(data);
      $('#show').val(data);
    };

    $('#qrcode').on('change', function () {
      if(this.files && this.files.length > 0) {
        getBase64(this.files[0], function (result) {
          qrcode.decode(result);
        });
      }
    });

    $('#scan').on('click', function () {
      $('#qrcode').trigger('click');
    });
  })
</script>

<style type="text/css">
  body {
    padding: 50px;
  }
</style>

</head>

<body>
  <div class="text-center">
    <input type="file" name="qrcode" id="qrcode" class="hide">
    <button type="button" class="btn btn-primary btn-lg btn-block" id="scan" style="height: 100px;">Scan</button>
    <hr>
    <form>
      <div class="form-group">
        <input type="email" class="form-control" id="show" placeholder="請點擊Scan或手動輸入序號">
      </div>
    </form>
  </div>
</body>

</html>